fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic[email]
passlib[bcrypt]
bcrypt==3.2.2
python-dotenv
slowapi
python-multipart
cloudinary
email-validator
pytest
pytest-asyncio
pytest-cov
httpx
python-jose
redis>=5.0.0
